* {
    font-family: 'Lato',
    sans-serif;
}

body {
    font-family: 'Lato', sans-serif;
    background-image: url(https://images.pexels.com/photos/616361/pexels-photo-616361.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.navbar.navbar-default {
    margin: 0;
}

.navbar-default {
    background: rgba(223, 223, 223, 0.7);
    border: none;
    width: 100%;
}

.navbar-default h3 {
    font-family: 'Lato', sans-serif;
    color: white;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 42px;
    letter-spacing: 15px;
    margin: 0;
    line-height: 69px;
    width: 100%;
    margin-left: 15px;
}

.user-p {
    padding: 0 20px;
    font-size: 14px;
    margin: 0;
    line-height: 69px;
}

#username {
    color: rgba(61, 152, 0, 1);
    text-decoration: underline;
    font-size: 18px;
}

/* the end of navbar */

/* BUTTONS */
/* #submit,
#clear {
    border: none;
    background-image: none;
    background-color: rgba(67, 167, 0, 0.9);
    text-shadow: none;
    width: 30%;
    color: white;
    font-size: 18px;
    letter-spacing: 2px;
    padding: 5px;
}

#clear {
    background-color: rgba(83, 206, 1, 0.9);
}

#submit:focus,
#clear:focus {
    outline: none;
    box-shadow: 0 0 10px rgb(66, 165, 0);
} */

.search_error {
    padding-top: 10px;
}

p.search_headers {
    font-size: 18px;
    font-family: 'Lato',
    sans-serif;
    margin-top: 15px;
}

#food_search {
    margin-top: 60px;
}

#foodsearch {
    margin-top: 20px;
}

.orImg {
    margin-top: 15px;
}

.wrapper {
    display: flex;
    align-items: stretch;
    font-family: 'Lato',
    sans-serif;
}

/* SIDEBAR */
h2 {
    font-size: 30px;
    font-family: 'Lato',
    sans-serif;
}

#sidebar.active {
    margin-left: -250px;
}
#sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
    background: rgba(255, 255, 255, 0.7);
    color: #000;
    transition: all 0.3s;
    font-family: 'Lato',
    sans-serif;
}

#sidebar .sidebar-header {
    padding: 10px;
    background: rgb(64, 64, 64, 0.7);
    color: white;
    font-family: 'Lato',
    sans-serif;
}

#sidebar ul.components {
    padding: 15px;
    font-size: 18px;
    margin: 0;
}

#sidebar ul p {
    color: #000;
    padding: 10px;
}

/* JUMBOTRON */
#jumboRecipe {
    background-color: transparent;
    padding-top: 0;
    padding-left: 0px;
    padding-right: 0px;
}

/* .jumbotron p {
    font-size: 18px;
} */

/* RECIPE SEARCH */
.column_results {
    background-color: rgba(255, 255, 255, 0.7);
}

.card {
    /* background-color: rgba(255, 255, 255, 0.9); */
    color: #777;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    /* margin-left: 20px; */
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    float: left;
    /* width: 350px; */
    /* border-radius: 25px; */
}

h3 {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 18px;
}

#button1 {
    border-radius: 8px;
    font-size: .9rem;
}

#whatMeal {
    font-family: 'Lato',
    sans-serif;
    margin: 10px 10px 0 10px;
    border-radius: 25px;
    padding: 10px;
    text-align: center;
}

#whatDate {
    font-family: 'Lato',
    sans-serif;
    margin: 10px 10px 0 10px;
    border-radius: 25px;
    padding: 10px;
    text-align: center;
}

#selectRecipeButton {
    color: white;
    font-family: 'Lato',
    sans-serif;
    margin: 10px 10px 0 10px;
    border-radius: 25px;
    padding: 10px;
    text-align: center;
}

#getRecipeBtn {
    color: white;
    font-family: 'Lato', sans-serif;
    margin: 10px 10px 0 10px;
    border-radius: 25px;
    padding: 10px;
    text-align: center;
}

a {
    /* color: white; */
    color: rgba(83, 206, 1, 0.9);
    text-decoration: none;
}

h1 {
    font-size: 22px;
    width: 200px;
}

/* STAR RATING */
.fa-star { 
    color: rgb(243, 181, 49);
    font-size: 15px;
}

/* MODAL */

#modal-container {
    font-family: 'Lato', sans-serif;
}

.modal-header {
    border: none;
}

.modal-body {
    border: none;
}

h4 {
    font-size: 18px;
}
.card .modal-body-info, .card .modal-title-info {
    display: none;
}

.modal-title-info {
    font-size: 18px;
}

.modal-body-info {
    float: left;
}

.modal-footer {
    border-top:none;
}

/* DROPDOWN */

.dropdown:hover .dropdown-menu {
    display: block;
  }

.dropdown {
    list-style-type: none;
    
}

.dropdown-menu>li>a {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    color: #777;
    padding-top: 10px;  
    padding-bottom: 10px;
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
}