* {
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    background-image: url(https://images.pexels.com/photos/349608/pexels-photo-349608.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
    background-repeat: no-repeat;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

h1 {
    color: white;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 70px;
    letter-spacing: 20px;
    text-align: center;
    margin-top: 130px;
    margin-bottom: 10px;
}

#description {
    text-align: center;
    color:  rgba(61, 152, 0, 0.9);
    margin-bottom: 40px;
    letter-spacing: 2px;
}
.panel {
    padding: 0;
    margin: 0, auto;
    border-radius: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: rgba(255, 255, 255, 0.8);
    color: #999;
}

.panel-heading {
    width: 100%;
    margin-bottom: 10px;
}

.panel-default>.panel-heading {
    background-image: none;
    border: none;
    background: rgba(255, 255, 255, 0.9);
    color: #999;
}

.panel-title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    text-align: center;
    letter-spacing: 2px;
}

.login_input {
    position: relative;
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    background-color: rgba(223, 223, 223, 0.6);
    color: #777;
    z-index: 2;
}

.floating-label {
    position: relative;
    top: -45px;
    left: 10px;
    z-index: 1;
    color: #111;
    transition: all .2s ease-out;
}

.login_input:focus + .floating-label,
 .login_input:valid + .floating-label {
    top: -80px;
    left: 3px;
    font-size: 12px;
    color: rgba(61, 152, 0, 0.9);
}

#email_input, 
#pass_input, #username_input{
    height: 70px;
}


#email_login:focus, #pass_login:focus,
#sign_in:focus, #sign_in_google:focus
 {
    outline: none;
    box-shadow: 0 0 10px rgb(66, 165, 0);
}

#sign_in, #sign_in_google,
#sign_up {
    border-radius: 0;
    border: none;
    background-image: none;
    background-color: rgba(61, 152, 0, 0.9);
    text-shadow: none;
    color:white;
    font-size: 18px;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

#sign_up {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
}

#sign_in {
    width: 40%;
    height: 40px;
}

#sign_in_google {
    width: 58%;
    height: 40px;
}

#icon {
  width: 24px;
  background: white;
  border-radius: 12px;
  
}

#create_new_acct {
    color:  rgba(61, 152, 0, 1);
}

#new_here p {
    text-align: center;
}

footer {
    width: 100%;
    background-color: #F4EFDE;
    opacity: 0.7;
    color: rgba(61, 152, 0, 1);
    text-align: center;
    font-size: 16px;
    padding: 15px 0px;
    position: fixed;
    bottom: 0;
    right: 0;
}

@media screen and (max-width: 960px) {
    h1 {
        margin: 40px 0;
        font-size: 60px;
    }
}
@media screen and (max-width:460px) {
    h1 {
        margin: 20px 0;
        font-size: 40px;
    }
    #description{
        font-size: 18px;
        margin: 0 auto;
        margin-bottom: 20px;
    }
    #sign_in,
    #sign_in_google {
        width: 100%;
    }
    body {
        min-height: 100%;
        height: 100%;
    }

    footer {
        display: none;
    }
}